.myPosts {
    padding: 10px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 10px;
}

.submitArea {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.submitButton button {
    padding: 10px 15px;
    margin: 0 15px;
    height: 100%;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.submitButton button:hover {
    opacity: 0.7;
}

.submitText {
    width: 100%;
    display: contents;
}

.textArea {
    resize: none;
    outline: none;
    height: 100px;
    background-color: #F4F7F8;
    border: none;
    border-left: 6px solid grey;
    border-radius: 10px;
    color: #4D4E53;
    max-width: 700px;
    font-size: 20px;
    width: 100%;
}

button {
    border: none;
}



