* {
  font-size: 16px;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas:
  "header header"
  "n content ";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}

.body {
  background-color: rgb(237, 241, 245);
}
.app-wrapper-content {
  grid-area: content;

}
































