.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
  }
  
  .menu__item {
    margin: 0 10px;
  }
  
  .menu__item:last-child{
    margin-right: 20px;
  }