* {
    box-sizing: border-box;
}

.profileWrapper {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 10px;
}



.profileDiscription {
    padding: 10px;
    display: flex;
    font-size: 18px;
    margin: 10px auto;
    border-radius: 7px;
    flex-direction: column;
    flex: 1 1 15px;
}

.avatar{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.avatar img{
    border-radius: 50%;

}

.aboutMe {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.socialContacts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

.socialContacts i {
    font-size: 25px;
    margin-left: 10px;
    color: black;
}

.socialContacts i:hover {
    opacity: 0.5;
}